.parent-form-login-page {
    background-image: url("../images/3d-facebook-messenger-logo-application-blue-background-social-media-communication_73903-695.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 5rem;
    .component-form-login-page {
        border-radius: 1.875rem;
    }
}

