@mixin span-style{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.avatar {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 100%;

  span {
   @include span-style;
    font: {
      size: 150%;
      weight:700;
    }
  }

  .status-badge {
    width: 27.5%;
    height: 27.5%;
    bottom: 0rem;
    right: 0rem;
    border: white 2px solid;
  }



  .avatar-member {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 60%;
    right: -5%;
    bottom: 0rem;
    border: 1px solid white;
  }
  .members{
    width: 60%;
    height: 60%;
    right: -20%;
    bottom: 0rem;
    border: 1px solid white;
    span{
      @include span-style;
      font: {
        size:100%;
        weight: 400;
      };
    }
  }
}
