.avatar {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 100%;

  span {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font: {
      size: 150%;
    }
  }

  .status-badge {
    width: 27.5%;
    height: 27.5%;
    bottom: 0rem;
    right: 0rem;
    border: white 2px solid;
  }

  .avatar-key {
    width: 2.75rem;
    height: 2.75rem;
    top: 0.05rem;
    right: 0;
    border: 0.75px solid #ccc;
  }

  .avatar-member {
    width: 2.75rem;
    height: 2.75rem;
    left: 0;
    bottom: 0.05rem;
    border: 0.75px solid #ccc;
  }
}
