.avatar {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 100%;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: {
      size: 150%;
    }
  }

  .status-badge {
    width: 27.5%;
    height: 27.5%;
    bottom: 0;
    right: 0;
    border: white 2px solid;
  }

  .avatar-member {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 60%;
    height: 60%;
    right: -20%;
    bottom: 0;
    border: 1px solid white;
  }
}
