$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1600px,
) !default;
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1360px,
        xxl:1600px,
) !default;
$btn-border-radius: 0.5rem;
$theme-colors: (
        "primary":#76c00d,
        "dark-primary":#59841A,
        "light-primary":#AFD199,
        "secondary":#afbbc6,
        "dark-secondary": #4b5155,
        "medium-secondary": #7b8793,
        "light-secondary":#dbe5ed,
        "very-light-secondary": #f4f5f8,
        "dark-yellow": #ffbd08,
        "light-blue-grey":#f9fafc,
        "link-blue":#2c8aee,

);

@import "~bootstrap/scss/bootstrap";